body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 18px;
}

.border-left {
  border-left: 1px solid #c4c4c4;
  padding-left: 25px;
}

.form-well {
  margin-top: 25px;
}

.label {
  margin: 15px 0;
}

.logged-in-btns {
  margin: 6px 0;
}

.add-item {
	margin-left: 15px;
}

.btn i {
  padding-right: 5px;
}

.checkbox label {
  font-size: 15px;
}

.tag {
  cursor: pointer;
}

.item {
  position: relative;

}

.delete-item {
  opacity: 0;
  color: #b94a48;
  position: absolute;
  left: -20px;
  top: 3px;
  transition:opacity 250ms ease-in;
}

.item:hover .delete-item {
  opacity: 1;
  cursor: pointer;
}

.check-item {
  cursor: pointer;
}
