body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 18px;
}

.border-left {
  border-left: 1px solid #c4c4c4;
}

.form-well {
  margin-top: 25px;
}

.label {
  margin: 15px 0;
}

.logged-in-btns {
  margin: 6px 0;
}

.add-item {
	margin-left: 15px;
}

.add-item i {
  padding-right: 5px;
}

.checkbox label {
  font-size: 15px;
}
