<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block title %}
            Bucketeer
        {% endblock title %}
    </title>

    <meta name="description" content="Take on the world and complete the things you've always wanted to do! Track, complete, share, and collect bucket list items with the people around you.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "bucket/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/sweetalert.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>


    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url "app:index" %}">Bucketeer</a>

            </div>
            <div class="navbar-collapse collapse">
                {% if not user.is_authenticated %}
                <form class="navbar-form navbar-right" method="post" action="{% url "login" %}" role="form">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <a href="{% url "register" %}" type="submit" class="btn btn-info">Register</a>
                </form>
                {% else %}
                    <div class="navbar-right logged-in-btns">
                        <a href="{% url "app:my_profile" %}" class="btn btn-success">Profile</a>
                        <a href="{% url "logout" %}" class="btn btn-info">Logout</a>
                    </div>
                {% endif %}

            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
    {% block jumbotron %}

    {% endblock jumbotron %}
    <div class="container">

        {% block content %}
            You forgot to put some content!
        {% endblock content %}

      <hr>

      <footer class="text-center">
          <p>&copy; Bucket List 2015. Made by <a href="{% url "app:about" %}"/>"The Bricks that Hacked"</a> at <a href="https://brickhack.io" target="_blank">BrickHack 2015</a>.</p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.0.min.js" %}"><\/script>')
    </script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/sweetalert.min.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>
</body>
</html>
