{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>About Bucketeer</h1>
        <div class="col-md-3" style="padding-bottom: 5px;">
        {% load staticfiles %}
            <img src="{% static "bucket/brick bucket.png" %}" alt="Brick Bucket" class="img-responsive" style="text-align: left"/>
        </div>
        <p>
            Bucketeer is an online application that lets you record and track things that are on your bucketlist. Bucketeer allows you to view the aspirations and achievements of your friends while also congratulating you for completing goals of your own.
        </p>
        <p></p>
        <p>
            Bucketeer was created during RIT's <a href ="https://brickhack.io/" target="_blank">2015 BrickHack</a> by the team "The Bricks that Hacked." You can view the source code for Bucketeer.me here on <a href="https://github.com/TheBricksThatHacked/DjangoAPI" target="_blank"><i class="fa fa-github"></i>Github</a>. The Bricks that Hacked is comprised of: 
        </p> 
    </div>
</div>
{% endblock jumbotron %}


{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{% static "bucket/corban photo.jpg" %}" alt="Corban Mailloux" class="img-responsive img-circle img-thumbnail"/>
    </div>
    <div class="col-md-8" style="padding-bottom: 5px;">
        <h1><a href = "http://corb.co" target="_blank">Corban Mailloux</a></h1>
        <p>
            Corban Mailloux is a fourth year Software Engineering major at RIT originally from Greenfield, MA. Corban will be interning at <a href="http://mobiusworks.com/" target="_blank">Mobius Works</a> over the summer, and he has playing with the Massachusetts Symphony Orchestra on his bucket list.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="{% static "bucket/adam photo.jpg" %}" alt="Adam McCarthy" class="img-responsive img-circle img-thumbnail" style="padding-bottom: 5px;"/>
    </div>
    <div class="col-md-8" style="padding-bottom: 5px;">
        <h1><a href="https://github.com/aem1269">Adam McCarthy</a></h1>
        <p>
            Adam McCarthy is a fourth year Software Engineering major at RIT originally from Ogdensburg, NY. Adam is an intern at <a href="https://www.datto.com/" target="_blank">Datto</a> for the fall, and he has committing to the Linux kernel, seeing Daft Punk in concert, and writing a paper with Paul Erdös on his bucket list.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="{% static "bucket/val photo.jpg" %}" alt="Val Booth" class="img-responsive img-circle img-thumbnail" style="padding-bottom: 5px;"/>
    </div>
    <div class="col-md-8" style="padding-bottom: 5px;">
        <h1><a href = "http://valbooth.me" target="_blank">Val Booth</a></h1>
        <p>
            Val Booth is a fourth year Computer Science major at RIT originally from Tonawanda, NY. Val will be interning at <a href="http://www.hudl.com/" target="_blank">Hudl</a> over the summer, and she has seeing Paul McCartney live, travelling to Italy, and reading every Stephen King novel on her bucket list.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="padding-bottom: 5px;">
        <img src="{% static "bucket/zach photo.jpg" %}" alt="Zach Friss" class="img-responsive img-circle img-thumbnail" style="padding-bottom: 5px;"/>
    </div>
    <div class="col-md-8">
        <h1><a href="http://friss.me/" target="_blank">Zach Friss</a></h1>
        <p>
            Zach Friss is a fourth year Computer Science major at RIT originally from Rocky Point, NY. Zach will be interning at <a href="http://www.hubspot.com/" target="_blank">HubSpot</a> over the summer, and he has scoring 10 goals per lacrosse game on his bucket list.
        </p>
    </div>
</div>

{% endblock content %}
