{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% load staticfiles %}
                <img src="{% static "bucket/BucketLogo.png" %}" alt="Bucketeer Logo" class="img-responsive"/>
            </div>
            <div class="col-md-8">
                <h1>Check it off the list!</h1>
                <p>Take on the world and complete the things you've always wanted to do! Track, complete, share, and collect bucket list items with the people around you.</p>
                <p><a href="{% url "app:about" %}" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2><i class="fa fa-map-marker"></i> Track</h2>
        <p>Track your progress as you complete and work towards completing your bucketlist! </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-tags"></i> Collect</h2>
        <p>Collect <a href="{% url "app:badges" %}">badges</a> and achievements as you complete various items. Can you collect them all? </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-comments"></i> Share</h2>
        <p>Share your store with the family, friends and the community. Find more items that you'd like to do and give others your ideas.</p>
    </div>
</div>
{% endblock content %}
