{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://placeimg.com/300/300/people" class="img-responsive img-circle img-thumbnail" />
      </div>
      <div class="col-md-8">
        <h1>Zachary Friss</h1>
        <p>Male, 21</p>
        <p><i class="fa fa-map-marker"></i> Rochester NY</p>
        <p>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p><i class="fa fa-check-circle-o"></i> 9001 Items completed</p>
        <p><i class="fa fa-circle-o"></i> 9009 Items</p>
        <p><i class="fa fa-bar-chart"></i> 99% Complete</p>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 35%"></div>
          <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="row">
  <div class="col-md-3 ">
    <h2><i class="fa fa-tags"></i> Tags</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span> Travel
      </li>
      <li class="list-group-item">
        <span class="badge">2</span> Achievement
      </li>
      <li class="list-group-item">
        <span class="badge">1</span> Job
      </li>
    </ul>
  </div>
  <div class="col-md-9 border-left">
    <h2><i class="fa fa-paper-plane-o"></i> List</h2>
    <ul class="list-unstyled">
      <li><i class="fa fa-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT Win CodeRIT Win CodeRIT Win CodeRIT </li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
      <li><i class="fa fa-check-circle-o"></i> Win CodeRIT</li>
    </ul>
  </div>
</div>
{% endblock content %}

