{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://secure.gravatar.com/avatar/{{ email_hash }}?s=300" class="img-responsive img-circle img-thumbnail" />
      </div>
      <div class="col-md-8">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        {% if userProfile.gender or userProfile.age %}
          <p>{{ userProfile.gender }} {{ userProfile.age }}</p>
        {% endif %}
        {% if userProfile.location %}
          <p><i class="fa fa-map-marker"></i> {{ userProfile.location }}</p>
        {% endif %}
        <p>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
          <span class="label label-info label-lg"><i class="fa fa-trophy"></i> World Traveler</span>
        </p>
        <p>{{ user.get_profile.bio }}</p>

        <p><i class="fa fa-check-circle-o"></i> {{ items_completed|length }} Items completed</p>
        <p><i class="fa fa-circle-o"></i> {{ user_items|length }} Items total</p>
        <p><i class="fa fa-bar-chart"></i> {{ percentCompleted }}% Complete</p>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: {{percentCompleted}}%"></div>
          <div class="progress-bar progress-bar-danger" style="width: {{percentUnCompleted}}%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="row">
  <div class="col-md-3 ">
    <h2><i class="fa fa-tags"></i> Tags</h2>
    <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span> All
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Travel
      </li>
      <li class="list-group-item">
        <span class="badge">2</span> Achievement
      </li>
      <li class="list-group-item">
        <span class="badge">1</span> Job
      </li>
    </ul>
  </div>
  <div class="col-md-9 border-left">
    <h2><i class="fa fa-paper-plane-o"></i> List <a href="/addItem" class="btn btn-success btn-sm add-item"><i class="fa fa-plus"></i> Add to List</a></h2>
    <ul class="list-unstyled">
      {% for item in user_items %}
        <li><i class="fa fa-circle-o"></i> {{item.title}} <p>{{item.description}}</p></li>
        <li><i class="fa fa-check-circle-o"></i> {{item.title}} <p>{{item.description}}</p></li>
      {% empty %}
        <p>It looks like you do not have any bucket list items. Why not <a href="/addItem">add one</a>?</p>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}

